<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Todos</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>

  <h1>Todos for today</h1>
  <a th:href="@{/todo/assignees/list}">Assignees</a>
  <br>
  <br>
  <br>

  <div th:insert="/fragments/frg_search_bar :: done_filter"></div>
  <div th:insert="/fragments/frg_search_bar :: search_bar"></div>

  <a th:href="@{/todo/add}">Add new Todo</a>

  <div th:insert="fragments/frg_tables :: todos_list"></div>

</body>
</html>