<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <body>
  <div th:fragment="list_accounts">
    <ul th:each="account: ${accounts}">
      <li th:text=
              "|
              ${accountStat.count}
              Account for ${account.getName()}
              ${#numbers.formatDecimal(account.getBalance(), 1, 2, 'POINT')}
              ${account.getAnimalType()}
               - But is (s)he a king? ${account.isKing()}
              |"></li>
    </ul>
  </div>

  </body>
</html>
