<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>

  <body>
    <div th:fragment="header">
      <a id="header_top_left" href="/">My Shop</a>
      <p id="header_top_right">More>></p>

      <div id="categories">
        <form action="/clothes-and-shoes" method="get">
          <button class="category" type="submit">Clothes and Shoes</button>
        </form>

        <form action="/electronics" method="get">
          <button class="category" type="submit">Electronics</button>
        </form>

        <form action="beverages-and-snacks" method="get">
          <button class="category" type="submit">Beverages and snacks</button>
        </form>

      </div>
    </div>

  </body>

</html>
