<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <body>

    <div th:fragment="todos_list">
      <table>
        <tr>
          <th>ID</th>
          <th>ACTION</th>
          <th>DONE</th>
          <th>URGENT</th>
        </tr>
        <tr th:each="todo: ${todos}">
          <td th:text="${todo.getId()}"></td>
          <td th:text="${todo.getTitle()}"></td>
          <td th:text="${todo.getIsDone()}"></td>
          <td th:text="${todo.getIsUrgent()}"></td>
          <td>
            <a th:href="@{'/todo/' + ${todo.getId()} +'/delete'}">Ide üssé' paraszt</a>
          </td>
          <td>
            <a th:href="@{'/todo/' + ${todo.getId()} +'/edit'}">Modolkodójjá</a>
          </td>
        </tr>
      </table>
    </div>

    <div th:fragment="assignees_list">
      <table>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
        </tr>
        <tr th:each="assignee: ${assignees}">
          <td th:text="${assignee.getId()}"></td>
          <td th:text="${assignee.getName()}"></td>
          <td th:text="${assignee.getEmail()}"></td>
          <td>
            <a th:href="@{'/todo/' + ${assignee.getId()} +'/delete'}">Ide üssé' paraszt</a>
          </td>
          <td>
            <a th:href="@{'/todo/' + ${assignee.getId()} +'/edit'}">Modolkodójjá</a>
          </td>
        </tr>
<!--        <tr>-->
<!--          <form action=""></form>-->
<!--        </tr>-->
      </table>
    </div>

  </body>
</html>
