<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <body>

    <div th:fragment="todos_list" class="table-responsive">
      <table class="table table-dark table-striped">
        <tr class="thead-dark">
          <th scope="col"><strong>#</strong></th>
          <th scope="col">TITLE</th>
          <th scope="col">DONE</th>
          <th scope="col">URGENT</th>
          <th scope="col">DEADLINE</th>
          <th scope="col">ASSIGNEE</th>
        </tr>
        <tr th:each="todo: ${todos}">
          <th scope="row" th:text="${todo.getId()}"></th>
          <td th:text="${todo.getTitle()}"></td>
          <td th:text="${todo.getIsDone()}"></td>
          <td th:text="${todo.getIsUrgent()}"></td>
          <td th:text="${todo.getDueDate()}"></td>
          <td th:object="${todo.getAssignee()}">
            <a th:href="@{'/todo/assignees/' + *{id} + '/todos'}"
               th:text="*{name}"></a>
          </td>
          <td>
            <a th:href="@{'/todo/' + ${todo.getId()} +'/delete'}">Ide üssé' paraszt</a>
          </td>
          <td>
            <a th:href="@{'/todo/' + ${todo.getId()} +'/edit'}">Modolkodójjá</a>
          </td>
        </tr>
      </table>
    </div>

    <div th:fragment="assignees_list">
      <table>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>TODOS</th>
        </tr>
        <tr th:each="assignee: ${assignees}">
          <td th:text="${assignee.getId()}"></td>
          <td>
            <a th:href="@{'/todo/assignees/' + ${assignee.getId()} + '/todos'}"
               th:text="${assignee.getName()}"></a>
          </td>
          <td th:text="${assignee.getEmail()}"></td>
          <td>
            <a th:href="@{'/todo/assignees/' + ${assignee.getId()} +'/delete'}">Ide üssé' paraszt</a>
          </td>
          <td>
            <a th:href="@{'/todo/assignees/' + ${assignee.getId()} +'/edit'}">Modolkodójjá</a>
          </td>
        </tr>
      </table>
    </div>

  </body>
</html>
