<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <body>

    <div th:fragment="todos_list">
      <table th:each="todo: ${todos}">
        <tr>
          <th>ID</th>
          <th>ACTION</th>
          <th>DONE</th>
          <th>URGENT</th>
        </tr>
        <tr>
          <td th:text="${todo.getId()}"></td>
          <td th:text="${todo.getTitle()}"></td>
          <td th:text="${todo.isDone()}"></td>
          <td th:text="${todo.isUrgent()}"></td>
        </tr>
      </table>
    </div>

  </body>
</html>
