<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="loginform.css" type="text/css">
</head>
<body>
  <div id="login_form_div">
    <form id="login_form">
      <label for="login_form" id="login_form_label">Account login</label>

      <label for="username">Username</label>
      <input type="text" id="username" required autofocus>

      <label for="password">Password</label>
      <input type="password" id="password" required>

      <a href="https://i.imgflip.com/2optxq.jpg">Forgot Password?</a>

      <button>Login</button>
    </form>
  </div>
</body>
</html>
