<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <div th:insert="fragments/header"></div>

    <div th:insert="fragments/search_bar :: full_search_bar"></div>

    <h2 class="avg_stock">Average stock: </h2>
    <h2 class="avg_stock" th:text="${average_stock}"></h2>
  </body>
</html>
