<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Bank of Simba</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>

  <h1>Ain't show nothin'</h1>
  <h3>Nants ingonyama bagithi baba!!!</h3>
  <ul>
    <li><a href="/simba">Simba's account</a></li>
    <li><a href="/show">Show accounts</a></li>
    <li><a href="/htmlception">HTMLCeption</a></li>
  </ul>

</body>
</html>