<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Information</title>
</head>
<body>

  <span>Info page aye!</span>
  <div th:insert="fragments/frg_header :: header_links"></div>

  <br>
  <img src="img/fox_default.jpg" alt="Not showin' ya' img..." th:height="350">


  <div th:object="${fox}">
    <span th:text="|
    Ya' pet's name is *{name} . Currently living on *{food} and *{drink}.|"></span>
    <br>
    <div th:insert="fragments/frg_selections :: trick_selection"></div>



    <br>
    <span>Such a pretty doggo! :)</span>
    <br>
<!--    <ul th:if="*{trickList.size() > 0}" th:each="trick : *{trickList}">-->
<!--      <li th:text="${trick.getName()}"></li>-->
<!--    </ul>-->
<!--    <span th:if="*{trickList.size() == 0}" th:text="|-->
<!--    *{name} does not now any tricks yet.... Such a shame. (S)he should learn some here.-->
<!--    |"></span>-->


<!--  </div>-->


</body>
</html>