<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <body>

  <div th:fragment="custom_form" class="jumbotron align-content-center">
    <section class="container form-simple align-middle col-md-4">
      <div class="card">
        <div class="card-header pt-3 grey lighten-2">
          <div class="row d-flex justify-content-start">
            <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Edit Todo</h3>
          </div>
        </div>

        <div class="card-body mx-4 mt-4">
          <div class="md-form">
            <input type="text" id="Form-email4" class="form-control">
            <label for="Form-email4">Your email</label>
          </div>

          <div class="md-form pb-3">
            <input type="password" id="Form-pass4" class="form-control">
            <label for="Form-pass4">Your password</label>
            <p class="font-small grey-text d-flex justify-content-end">Forgot
              <a href="#"  class="dark-grey-text font-weight-bold ml-1"> Password?</a>
            </p>
          </div>

          <div class="text-center mb-4">
            <button type="button" class="btn btn-danger btn-block z-depth-2">Log in</button>
          </div>
          <p class="font-small grey-text d-flex justify-content-center">Don't have an account?
            <a href="#" class="dark-grey-text font-weight-bold ml-1"> Sign up</a>
          </p>
        </div>
      </div>
    </section>
  </div>

  </body>
</html>
