<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Todos</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body style="background: #343a40!important">

  <div th:insert="fragments/frg_nav_bar :: nav_bar_with_inline_search_form"></div>

  <div th:insert="fragments/frg_tables :: todos_list"></div>

</body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>

</html>