<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <body>

  <div th:fragment="todos_list" class="table-responsive">
    <table class="table table-striped table-dark table-hover table-bordered">
      <thead class="bg-secondary">
      <tr>
        <th scope="col" class="text-center"><strong>#</strong></th>
        <th scope="col" class="text-center">TITLE</th>
        <th scope="col" class="text-center">FIELD1</th>
        <th scope="col" class="text-center">FIELD2</th>
        <th scope="col" class="text-center">FIELD3</th>
        <th scope="col" class="text-center">FIELD4</th>
        <th scope="col" class="text-center">FIELD5</th>
        <th scope="col" class="text-center">FIELD6</th>
      </tr>
      </thead>
      <tr th:each="ITEM: ${ITEMS}">
        <th class="text-center" th:text="${ITEM.getField1()}"></th>
        <td class="text-center" th:text="${ITEM.getField2()}"></td>
        <td class="text-center" th:text="${ITEM.getField3()}"></td>
        <td class="text-center" th:text="${ITEM.getField4()}"></td>
        <td class="text-center" th:text="${ITEM.getField5()}"></td>
        <td class="text-center" th:object="${ITEM.getField6()}">
          <a th:if="${ITEM.getAssignee()} != null"
             class="btn btn-outline-info my-0 my-sm-0 d-flex justify-content-center"
             th:href="@{'ENDPOINT' + *{id} + 'POSTFIX'}"
             th:text="*{FIELD}"></a>
        </td>
        <td class="text-center">
          <a class="btn btn-outline-danger my-1 my-sm-1 d-flex justify-content-center"
             th:href="@{'ENDPOINT' + ${ITEM.getId()} +'POSTFIX'}">Ide üssé' paraszt</a>
        </td>
        <td class="text-center">
          <a class="btn btn-outline-warning my-2 my-sm2 d-flex justify-content-center"
             th:href="@{'ENDPOINT' + ${ITEM.getId()} +'POSTFIX'}">Modolkodójjá</a>
        </td>
      </tr>
    </table>
  </div>

  </body>
</html>
