<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<div th:fragment="relation_selection">
  <div class="input-group col-md-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="RELATION TO LIST">RELATION TO</label>
    </div>
    <select name="RELATION TO"
            id="RELATION TO LIST"
            class="custom-select"
            th:field="*{RELATION TO}" required>
      <option th:each="RELATION TO : ${RELATION TO LIST}"
              th:text="${RELATION TO.getName()}"
              th:value="${RELATION TO.getId()}"
      ></option>
    </select>
  </div>
</div>
</body>

</html>
