<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
  <div th:label="Just a fancy table">
    <table>
      <caption>Fancy table</caption>
      <tr>
        <th>Month</th>
        <th>Sales</th>
      </tr>
      <tr>
        <td>January</td>
        <td>50000</td>
      </tr>
      <tr>
        <td>February</td>
        <td>10000</td>
      </tr>
      <tr>
        <td>March</td>
        <td>85000</td>
      </tr>
      <tr>
        <td>April</td>
        <td>56000</td>
      </tr>
      <tr>
        <td>May</td>
        <td>98000</td>
      </tr>
    </table>
  </div>
</body>
</html>
